/* ul {
    list-style: none;
    padding: 0;
    margin: 0
}
li {
    
    list-style: none;
    padding: 0;
    margin: 0;
} */

html, body {
	overflow: hidden;
}

.content {
	display: flex;
	flex-direction: row;
}
.face-wrapper, .dashboard {
	/* width: 50%; */
}
.face-wrapper {
	position: relative;
	/* height: 600px; */
	/* overflow: hidden; */
}

.face-wrapper .overlay {
	position: absolute;
	z-index: 1;
	background: transparent;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.dashboard {

}

ul.face-wrapper--list {
	position: relative;
	/* background: pink; */
	/* width: 50%; */
	/* height: 400px; */
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	list-style: none;

	-webkit-perspective: 500px;
	-moz-perspective: 500px;
	-ms-perspective: 500px;
	-o-perspective: 500px;
	perspective: 500px;
}
ul.face-wrapper--list li {
	position: relative;
	/* padding: 16px; */
	margin-bottom: -20px;
	background: #eee;
	color: #252525;
	font-size: 18px;
	z-index: 2;

	-webkit-transform: translateZ(0px);
		-moz-transform: translateZ(0px);
		-ms-transform: translateZ(0px);
			-o-transform: translateZ(0px);
			transform: translateZ(0px);
}
ul.face-wrapper--list li .slice-overlay {
	cursor: pointer;
	position: absolute;
	width: 100%;
	height: 100%;
	background: white;
	opacity: 0;
}
ul.face-wrapper--list li:hover .slice-overlay {
	opacity: 0.2;
}
ul.face-wrapper--list li:nth-child(3n+3) {  
	margin-bottom: 0;
}
ul.face-wrapper--list li img {
	width: 100%;
}
ul li:nth-child(odd) {
	/* background: pink; */
}